body, html {
  font-family: 'Hind Vadodara', sans-serif;
  margin:0;
  padding:0;
  font-size: 20px;
  background: #EFF0F1;
  line-height: 120%;
}


.page-header {
  background:#2C2C2A;
  color: white;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin:25px 25px 10px 25px;
}

figcaption {
  display: inline-block;
}

i {
  margin-right: 15px;
  color: #ff702d;
}

.admin {
  margin: 0 0 20px 0;
  padding:0;
  text-align: right;
  color: #ff702d;
}

.fa-id-badge {
  color: white;
}

.nav-logo-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav {
  flex:4;
  margin: 0;
  display: inline-block;
  text-align: left;
}

.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: gray;
}

figure:hover {
  color: #FFF;
}
.web-title {
  flex:1;
  text-align: right;
  display: inline-block;
  margin:0 0 7px 0;
}

.fake-logo{
  flex:1;
  width:40%;
  height: auto;
}
.team-title {
  padding-left: 10px;
}
.main {
  padding: 0 10px;
  display: flex;
}

.racer {
  background:#ffe8d1;
  width: 350px;
  height:auto;
  overflow: hidden;
  display: inline;
  margin: 0 20px 20px 0;
}

.racer-image {
  color: white;
  padding: 10px 20px 150px 10px;
}

.fa-share-square-o {
  margin: 10px;
}

.views {
  text-align: right;
  float: right;
}

.view-text {
  display:inline-block;
  font-size: 0.7em;
  font-weight: lighter;
  margin: 0 0 10px 0;
}

.view-count {
  margin:0;
  text-align: center;
  font-size: 1.9em;
}

.racer-info {
  padding: 0px 10px 10px 10px;
}

/*RACER IMAGES*/
.sagan {
  background-image: url('images/sagan.jpg');
  background-size: cover;
}

