body, html {
  font-family: 'Hind Vadodara', sans-serif;
  margin:0;
  padding:0;
  font-size: 20px;
  background: #bbb;
  line-height: 120%;
}

.page-header {
  background:#2C2C2A;
  color: white;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin:25px 25px 10px 25px;
}

figure:hover {
  color:white;
}

figcaption {
  display: inline-block;
  margin-right: 5px;
}

i {
  margin-right: 15px;
  color: #ff702d;
}

.admin {
  margin: 0 0 20px 0;
  padding:0;
  text-align: right;
  color: #ff702d;
}

.admin figcaption {
  font-size: .8em;
}

.fa-id-badge {
  color: white;
}

.nav-logo-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.nav {
  flex:4;
  margin: 0;
  display: inline-block;
  text-align: left;
  align-self: flex-end;
}

.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: gray;
}

.name-logo {
  display: flex;
  align-content: center;
  justify-content: center;
}

.web-title {
  flex:1;
  text-align: right;
  align-self: center;
  margin:0;
}

.team-title {
  padding-left: 25px;
}

/*MAINCONTENT*/
.main {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.racer {
  background:#fff;
  width: 20%;
  min-width: 350px;
  overflow: hidden;
  display: inline;
  margin: 10px 20px 20px 20px;
  box-shadow: 2px 1px 1px gray;

}

/*RACER HEADER*/
.racer-image {
  color: white;
  padding: 10px 20px 130px 10px;
}

.fa-share-square-o {
  margin: 10px;
}

.views {
  text-align: right;
  float: right;
}

.view-text {
  display:inline-block;
  font-size: 0.7em;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.view-count {
  margin:0;
  text-align: center;
  font-size: 1.9em;
  font-weight: 300;
}

.racer-info {
  padding: 0px 20px 10px 20px;
}

/*RACER INFO*/
.racer-name {
  margin: 15px 0 0 0;
}

.date {
  margin: 0 auto;
  font-size: 0.7em;
  color: #9e9e9e;
}

.link {
  padding:5px;
  background-color: #e2e2e2;
  word-wrap: break-word;
  border-radius: 1%;
}

.next-race{
  margin:0;
}

.next-race-name {
  margin:0;
}

.records{
  margin: 15px 0 10px 0;
}

.record-count {
  margin:0 0 20px 0;
  font-size: 1.9em;
  color: #00A7E1;
}

/*RACER IMAGES*/
.sagan {
  background-image: url('images/sagan.jpg');
  background-size: cover;
}

.cav {
  background-image: url('images/cav.jpg');
  background-size: cover;
}

.teklehaimanot {
  background-image: url('images/TEKLEHAIMANOT.jpg');
  background-size: cover;
}

.phinney {
  background-image: url('images/phinney.jpg');
  background-size: cover; 
}

.gva {
  background-image: url('images/gva.png');
  background-size: cover; 
}

.gaviria {
  background-image: url('images/gaviria.jpg');
  background-size: cover;
}

.oss {
  background-image: url('images/oss.png');
  background-size: cover;
}

.beppu {
  background-image: url('images/beppu.jpg');
  background-size: cover;
}

@media screen and (max-width: 450px) {

  .page-header {
    display:flex;
    flex-flow: column;
  }

  .main {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  figure.admin {
    margin: 0 0 20px 25px;
    text-align: left;
  }

  .name-logo {
    margin-right:25px;
    align-self: flex-start;
    text-align: center;
    display: block;
  }
}



